{% extends 'layouts/admin_layout.html' %}
{% block content %}
<div style="display: flex;flex-wrap: wrap;">
{% for Category in category %}
    <div style="width: 400px;height: 300px;margin-top: 80px;" class="container">
      <div class="card">
        <div class="card-image">
          <img style="width: 400px;height: 300px;" src="{{url_for('static', filename=Category.image)}}">
          <span style="font-weight: bold;background-color: rgba(0,0,0,0.5);border-radius: 10px;padding: 10px;" class="card-title">{{Category.name}}</span>
        </div>
      </div>
      <div class="center">
      <a class="waves-effect waves-light btn-large" href="{{url_for('category.edit_category',id=Category.id)}}">Edit</a>
      <a class="waves-effect waves-light btn-large red lighten-1" href="{{url_for('category.delete_category',id=Category.id)}}">Delete</a>    
    </div>
</div>
{% endfor %}
</div>
{% endblock %}